rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /suppliers/{supplierId} {
      allow read: if true;
      allow create: if request.auth != null;
      allow update: if true;

      match /changeLogs/{logId} {
        allow read: if true;
        allow write: if true;
      }
    }

    match /{path=**}/changeLogs/{logId} {
      allow read: if true;
      allow write: if true;
    }

    match /enquiries/{document=**} {
      allow read: if true;
      allow write: if true;
    }

    match /payments/{document=**} {
      allow read, write: if false;
    }

    match /subscriptions/{document=**} {
      allow read: if true;
      allow write: if false;
    }

    match /settings/supplierCounter {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /settings/{document=**} {
      allow read: if true;
      allow write: if false;
    }

    match /locations_provinces/{document=**} {
      allow read: if true;
      allow write: if false;
    }

    match /locations_towns/{document=**} {
      allow read: if true;
      allow write: if false;
    }

    match /locations_suburbs/{document=**} {
      allow read: if true;
      allow write: if false;
    }

    match /locations_areas/{document=**} {
      allow read: if true;
      allow write: if false;
    }

    match /areas/{areaId} {
      allow read, write: if true;
    }

    match /termsDocuments/{docId} {
      allow read, write: if true;
    }

    match /auditLog/{document=**} {
      allow read, write: if true;
    }

    match /offerings/{document=**} {
      allow read: if true;
      allow write: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }

  }
}